<div class="container d-flex justify-content-center rel-margin-top">
    <div class="column new-booking-wrap bg-white">
    <h1>Add a Family Member</h1>
    <%= simple_form_for @family_member do |form| %>

     <%= form.input :name, placeholder: "Name", label: false %>
     <%= form.input :age, placeholder: "Age", label: false %>
     <%= form.input :kinship, :collection => %w[Grandma Grandpa Uncle Aunt Cousin Brother Sister Father Mother], label: false  %>
     <%= form.input :city, placeholder: "City", label: false %>
     <%= form.input :description, placeholder: "Tell us about you!", label: false %>
     <%= form.input :image, as: :file, placeholder: "Image of you:", label: false %>
     <%= form.button :submit, "Add!", class: "btn btn-relatives" %>
    <% end %>
  </div>
</div>

