<!-- _featured-articles.html.erb -->
<div class="container-fluid d-flex" id="featured-searches">
  <div class="row d-flex justify-content-between">
    <%= link_to family_members_path(description: "excellent") do %>
    <div class="card col-12  col-md-4">
      <%= image_tag "dad.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">
            Excellent Fathers
          </h5>
          <p class="card-text">
            Emotionally available, good at operating a grill, great at jokes!
          </p>
        </div>
      <% end %>
    </div>

    <%= link_to family_members_path(description: "tough") do %>
    <div class="card col-12 col-md-4">
      <%= image_tag "grandma.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          Grandmas Who Take No Shit
        </h5>
        <p class="card-text">
          Ready to put you in your place!
        </p>
      </div>
      <% end %>
    </div>

    <%= link_to family_members_path(description: "menacing") do %>
    <div class="card col-12  col-md-4">
      <%= image_tag "coolguy.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          Tough Older Siblings
        </h5>
        <p class="card-text">
          Eradicate your child's bully the old fashioned way.
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
