<div class="container-fluid d-flex justify-content-center">
<div class="search-bar d-flex align-items-center" style="z-index: 1;">
  <div class="form-group row search-bar-box justify-content-center">
    <%= form_tag family_members_path, method: :get do %>
    <%= label :kinship, '' %>
    <%= select_tag :kinship, raw(
        "<option value='Grandma'>Grandmas</option>
        <option value='Grandpa'>Grandpas</option>
        <option value='Uncle'>Uncles</option>
        <option value='Aunt'>Aunts</option>
        <option value='Cousin'>Cousins</option>
        <option value='Brother'>Brothers</option>
        <option value='Sister'>Sisters</option>
        <option value='Father'>Fathers</option>
        <option value='Mother'>Mothers</option>"
        ),
        class: "btn btn-ghost"%>
        <%= label :query, "in", class: "mr-1 ml-1" %>
        <%= text_field_tag :query, placeholder='Berlin', class: "mr-1" %>
        <%= submit_tag "Search!", class: "btn btn-relatives btn-relatives-search-bar" %>
      <% end %>
    </div>
</div>
</div>
